.view {
    /*/ la vista principal de mi pagina */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
    /*/ trabajo con un elemento */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 80%;
}

.text__area {
    field-sizing: content
}

.form__div {
    /* aqui trabajo por sección para poder ir agrupando x separado y lo utilizo en todos los divs del html */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form__input {
    font-size: inherit;
}

.form__button {
    margin: .2rem 0;
    /*/ esto hace margen arriba/abajo y cero a los lados */
}

.create-post-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    bottom: 0;
    /* ponemos en cero para que tape el plus de crear post y no se creen miles de form */
    width: 100%;
    background-color: white;
    left: 0;
    box-sizing: border-box;
    /* esto es para que quede del ancho de la cajita */
    padding: .5rem;
}

.createTitle {
    margin: 0rem;
    justify-self: center;
    align-items: center;
}

.create__buttons {
    margin: 0.5rem;
}

.post__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post {
    /*/ como estos elementos los crea indexJS. tengo que poner las clases en el archivo que corresponde */
    box-shadow: 1px 1px 1.4px 1.2px lightgrey;
}

.post__author {
    margin: 0.5rem;
}

.post__caption {
    margin: 0.5rem;
}

.post__ActionButton {
    margin: 0.5rem;
}

.post__date {
    display: block;
    /*/ esto significa que ocupa todo el ancho, y no permite elementos al lado */
    margin: 0.5rem;
    color: rgb(161, 155, 155)
}

.post__image {
    width: 100%;
}

.header {
    box-sizing: border-box;
    position: fixed;
    /*/ boton fijo, que no se mueva por más scroll que se haga */
    top: 0;
    /*/ es donde fijo dentro de la pantalla su posicion */
    width: 100%;
    display: flex;
    left: 0;
    justify-content: space-between;
    /* espacio entre los elementos */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    align-items: center;
    /*/ con esto se elinea verticalmente */
    box-shadow: 0px 1px 1px lightgrey;

}

.main {
    margin-bottom: 2.5rem;
    /*/ aplico margen en el botton (abajo) */
    margin-top: 2.5rem;

}

.footer {
    box-sizing: border-box;
    position: fixed;
    /*/ boton fijo, que no se mueva por más scroll que se haga */
    bottom: 0;
    /*/ lo fijo abajo de la pantalla */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    padding: .1rem 0;
    /*/ da margen dentro del footer */
    box-shadow: 0px -1px 1px lightgrey;

}