<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="../../utureFavIcon.png" type="image/x-icon">
</head>
<link rel="stylesheet" href="index.css">

<body>

    <script src="../../data/index.js"></script>
    <script src="../../data/findUser.js"></script>
    <script src="../../data/InsertUser.js"></script>

    <script src="../../util/formatTime.js"></script>
    <script src="../../util/generateId.js"></script>

    <script src="../../logic/index.js"></script>
    <script src="../../logic/getUserName.js"></script>
    <script src="../../logic/logoutUser.js"></script>
    <script src="../../logic/createPost.js"></script>
    <script src="../../logic/deletePost.js"></script>
    <script src="../../logic/updatePostCaption.js "></script>
    <script src="../../logic/getAllPosts.js"></script>
    <script src="../../logic/getUserUserName.js"></script>

    <script src="../Component.js"></script>
    <script src="../component/Paragraph.js"></script>
    <script src="../component/Button.js"></script>
    <script src="../component/Heading.js"></script>
    <script src="../component/Image.js"></script>
    <script src="../component/Form.js"></script>
    <script src="../component/Label.js"></script>
    <script src="../component/Input.js"></script>

    <script src="../home/component/Header.js"></script>
    <script src="../home/component/PostList.js"></script>
    <script src="../home/component/Post.js"></script>
    <script src="../home/component/Footer.js"></script>
    <script src="index.js"></script>
</body>

</html>