<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="shortcut icon" href="../../utureFavIcon.png" type="image/x-icon">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <main class="view">
        <!-- // utilizamos el main como contenido de toda la pantalla, podríamos usar el body, pero así lo separamos del header y el footer más adelante -->
        <h2>Register</h2>

        <form class="form">
            <!-- // le digo que la clase form que está en el archivo css, se aplique a todos los form de esta -->
            <div class="form__div">
                <label for="name-input"> Name </label>
                <input class="form__input" type="text" id="name-input" name="name" placeholder="Name">
            </div>

            <div class="form__div">
                <label for="surname-input">Surname</label>
                <input class="form__input" type="text" id="surname-input" name="surname" placeholder="Surname">
            </div>

            <div class="form__div">
                <label for="username-input">Username</label>
                <input class="form__input" type="text" id="username-input" name="username" placeholder="Username">
            </div>

            <div class="form__div">
                <label for="email-input">E-mail</label>
                <input class="form__input" type="text" id="email-input" name="email" placeholder="E-Mail">
            </div>

            <div class="form__div">
                <label for="password-input">Password</label>
                <input class="form__input" type="password" id="password-input" name="password" placeholder="Password">
            </div>

            <div class="form__div">
                <label for="paswordRepeat-input">Password Repeat</label>
                <input class="form__input" type="password" id="passwordRepeat-input" name="paswordRepeat"
                    placeholder="Repeat Password">
            </div>
        </form>

        <button type="submit">Register</button>

        <a href="login.html">Login</a>
    </main>


    <script src="../../logic/index.js"></script>
    <script src="../../logic/registerUser.js"></script>

    <script src="../Component.js"></script>

    <script src="../component/Form.js"></script>
    <script src="../component/Link.js"></script>

    <script src="index.js"></script>

</body>

</html>