<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>

</style>

<body>
    <h1> L o g i n </h1>

    <form>
        <label for="username-input">Username</label>
        <input type="text" id="username-input" name="username" placeholder="Username">

        <label for="password-input">Password</label>
        <input type="password" id="password-input" name="password" placeholder="Password">

        <button type="submit">Login</button>
    </form>
    <script src="../../logic/loginUser.js"></script>
    <script src="index.js"></script>

    <a href="register.html">Register</a>
</body>

</html>