<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<style>

</style>

<body>

    <form>
        <label for="name-input"> Name </label>
        <input type="text" id="name-input" name="name" placeholder="Name">

        <label for="surname-input">Surname</label>
        <input type="text" id="surname-input" name="surname" placeholder="Surname">

        <label for="username-input">Username</label>
        <input type="text" id="username-input" name="username" placeholder="Username">

        <label for="email-input">E-mail</label>
        <input type="text" id="email-input" name="email" placeholder="E-Mail">

        <label for="password-input">Password</label>
        <input type="password" id="password-input" name="password" placeholder="Password">

        <label for="paswordRepeat-input">Password Repeat</label>
        <input type="password" id="passwordRepeat-input" name="paswordRepeat" placeholder="Repeat Password">

        <button type="submit">Register</button>
    </form>

    <a href="login.html">Login</a>

    <script src="../../logic/registerUser.js"></script>
    <script src="index.js"></script>

</body>

</html>